.home{
    display: flex;
    align-items: center;
    gap: 100px;
}

.texts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.image{
    object-fit: contain;
    animation: move 2.5s infinite ease alternate;

}
@keyframes move {
    from{
        transform: translateY(-15px);
    }
    to{
        transform: translateY(0px) scale(1.03);
    }
}
.titles{
    font-size: 72px;
background: linear-gradient(to bottom, #194c33, #bbb);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.description{
    font-style: 20px;
    font-weight: 300;
}
@media screen and (max-width: 776px) {
.titles{
    font-size: 20px;
}
.home{
    flex-direction: column;
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
}